* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.content {
  margin: 4rem;
  border-radius: 0.5rem;
  border: solid 1px black;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

#query {
  padding: 0.5rem;
  width: 100%;
}

#send {
  width: 12ch;
  padding: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
}

.slider:before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  content: "Cº";
  height: 1.5rem;
  aspect-ratio: 1/1;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: background-color .1s, transform .2s;
}

input:checked + .slider {
  background-color: #f34821;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  content: 'Fº';
  transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@property --color1 {
  syntax: '<color>';
  initial-value: #000;
  inherits: true;
}

@property --color2 {
  syntax: '<color>';
  initial-value: #000;
  inherits: true;
}

main {
  border-radius: 1rem;

  --color1: #cccccc;
  --color2: #aaaaff;

  position: relative;
  background: transparent;
  overflow: hidden;
  width: 48rem;
  height: 30rem;
  padding: 2rem;
}

main > div {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

main > div > * {
  color: #fff;
  text-shadow: 0 0 4px #888;
}


main:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: -41%;
  left: calc(-21%);
  aspect-ratio: 1/1;
  width: 141%;
  transition: --color1 .5s, --color2 .5s;
  background: linear-gradient(var(--color1), var(--color2));
  animation: rotate-gradient linear 4s infinite;
}

@keyframes rotate-gradient {
  to { transform: rotate(360deg) }
}